@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

.App {
  font-family: "Poppins", sans-serif;
}
.App h1 {
  color: #ff5468;
  margin-top: 40px;
}
.container {
  border: solid 5px #ff5468;
  border-radius: 25px;
  margin: 10px auto;
}

p {
  font-size: 25px;
}