@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

.App {
  font-family: "Poppins", sans-serif;
}
.App h1 {
  color: #ff5468;
  margin-top: 40px;
}
.container {
  border: solid 5px #ff5468;
  border-radius: 25px;
  margin: 10px auto;
}

p {
  font-size: 25px;
}

.searchForm {
  border-color: #ff5468;
  border-radius: 25px;
  border-style: solid;
  padding: 5px;
}

.submitButton {
  background-color: #ff5468;
  color: white;
  border-color: white;
  border-radius: 25px;
  border-style: solid;
  padding: 5px;
}

form {
  margin-top: 45px;
  max-width: 55%;
  margin-left: auto;
}
