@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

.App {
  font-family: "Poppins", sans-serif;
}
h1 {
  color: #ff5468;
  margin-top: 40px;
  font-size: 30px;
}

h2{
  font-size:20px;
}

.container {
  border: solid 5px #ff5468;
  border-radius: 25px;
  margin: 10px auto;
  max-width: 700px;
}

p {
  font-size: 20px;
}

.thermo{
  margin-top: 48px;
}

.searchForm {
  border-color: #ff5468;
  border-radius: 25px;
  border-style: solid;
  padding: 5px;
}

.submitButton {
  background-color: #ff5468;
  color: white;
  border-color: white;
  border-radius: 25px;
  border-style: solid;
  padding: 5px;
}

form {
  margin-top: 45px;
  max-width: 100%;
  margin-left: auto;
}

.footer{
  font-size: 12px;
  text-align: center;
}

@media (max-width:600px){
  p, h1, h2{
    text-align: center;
  }
 .form{
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  max-width: 100%;
 }
 .humidity-wind{
  display: none;
 }
.temp{
  display: none;
}
.WeatherForecast-temps{
  display:none;
}
 img{
  margin-top: 50px;
 }
}